.basket-item {
  display: flex;
  flex-direction: column;
  .actions {
    button {
      background-color: red; // Czerwone tło
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      border-radius: 4px; // Zaokrąglone rogi
      font-weight: bold; // Grubszy font
      cursor: pointer;
    }
  }

  & > .info {
    display: flex;
    gap: 0.5rem;

    & > div:first-child {
    }

    & > div:nth-child(2) {
      flex: 1;

      p {
        font-size: 14px;
        color: #8d8887;
      }
    }

    & > div:last-child {
    }
  }

  & > .actions {
    display: flex;
    justify-content: flex-end;
  }
}
